.skin-wrap {
    position: relative;
    width: 150px;
    height: 98px;

    .MuiButton-root {
        opacity: 0;
    }

    &:not(.disabled):hover {
        .MuiButton-root {
            opacity: 1;
        }
        .case-item {
            filter: brightness(50%);
        }
    }

    .case-item {
        position: relative;
        width: 150px;
        height: 98px;
        border-radius: 10px;
        filter: brightness(100%);
        transition: filter 0.2 ease;
    
        &__img {
            display: block;
            margin: 0 auto;
            padding-top: 16px;
            width: 88px;
        }
    
        &__type {
            position: absolute;
            bottom: 25px;
            left: 15px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    
        &__title {
            position: absolute;
            bottom: 12px;
            left: 15px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
        }

        &:not(.disabled):hover {
            filter: brightness(50%);
            .MuiButton-root {
                opacity: 1;
            }  
        }   
    }
}

.case-item-Consumer {
    background: linear-gradient(180deg, #24232A 0%, #93a5bc 100%);
    border-bottom: 1px solid #8daad1;
}
.case-item-Industrial {
    background: linear-gradient(180deg, #24232A 0%, #3F5879 100%);
    border-bottom: 1px solid #6A98D4
    ;
}
.case-item-Mil-Spec {
    background: linear-gradient(180deg, #24232A 0%, #4057C7 100%);
    border-bottom: 1px solid #4F6CF6
    ;
}
.case-item-Restricted {
    background: linear-gradient(180deg, #24232A 0%, #6542C5 100%);
    border-bottom: 1px solid #7E51F6;
}
.case-item-Classified {
    background: linear-gradient(180deg, #24232A 0%, #7B2A8D 100%);
    border-bottom: 1px solid #C243DE;
}
.case-item-Covert {
    background: linear-gradient(180deg, #24232A 0%, #9F3F3C 100%);
    border-bottom: 1px solid #DA5752;
}
.case-item-legendary {
    background: linear-gradient(180deg, #24232A 0%, #9f943c 100%);
    border-bottom: 1px solid #dedb32;
}