// .case-content__wraper {
//     position: relative;
//     &::before {
//     content: '';
//      position: absolute;
//      width: 1440px;
//      height: 707px;
//      left: -165px;
//      z-index: -1;
//      background: url('../../components/images/case-content-bckg.png') center no-repeat;
//      background-size: cover;
//      background-position: center;
//     }
// } переделано под sxProps

.case-content__title {
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    position: relative;
}

.custom-grid {
    width: 1110px;
    margin-top: 20px;
    margin-bottom: 120px;
    gap: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
}