.skin-wrap {
    position: relative;
    width: 150px;
    height: 98px;

    .MuiButton-root {
        opacity: 0;
    }

    &:not(.disabled):hover {
        .MuiButton-root {
            opacity: 1;
        }
        .case-item {
            filter: brightness(50%);
        }
    }

    .case-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 98px;
        border-radius: 10px;
        filter: brightness(100%);
        transition: filter 0.2 ease;
    
        &__img {
            display: block;
            margin: 0 auto;
            width: 88px;
        }
    
        &__type {
            position: absolute;
            bottom: 25px;
            left: 15px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    
        &__title {
            position: absolute;
            bottom: 12px;
            left: 15px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
        }

        &:not(.disabled):hover {
            filter: brightness(50%);
            .MuiButton-root {
                opacity: 1;
            }  
        }   
    }
}

.case-item-Consumer {
    background: linear-gradient(0deg, #75808D 32%, rgba(117, 128, 141, 0) 100%);
    border-bottom: 1px solid #B3C3D7;
}
.case-item-Industrial {
    background: linear-gradient(0deg, #46648B 32%, rgba(70, 100, 139, 0) 100%);
    border-bottom: 1px solid #6A98D4;
}
.case-item-Mil-Spec {
    background: linear-gradient(0deg, #3447A1 32%, rgba(52, 71, 161, 0) 100%);
    border-bottom: 1px solid #4F6CF6;
}
.case-item-Restricted {
    background: linear-gradient(0deg, #5335A1 32%, rgba(83, 53, 161, 0) 100%);
    border-bottom: 1px solid #7E51F6;
}
.case-item-Classified {
    background: linear-gradient(0deg, #7F2C92 32%, rgba(127, 44, 146, 0) 100%);
    border-bottom: 1px solid #C243DE;
}
.case-item-Covert {
    background: linear-gradient(0deg, #8F3936 32%, rgba(143, 57, 54, 0) 100%);
    border-bottom: 1px solid #DA5752;
}
.case-item-Contraband {
    background: linear-gradient(0deg, #A07436 32%, rgba(160, 116, 54, 0) 100%);
    border-bottom: 1px solid #F4B152;
}