.footer-statistic {
  background-color: $background-footer-light;
  padding: 50px 0;
}

.footer-statistic-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;

  &__amount {
    @include font(30px, 37px, 700);
    color: $brand-color;
    margin-bottom: 5px;
  }

  &__title {
    @include font(20px, 25px, 600);
  }
}

.footer-info {
  background-color: $background-footer-dark;
  padding: 20px 0 28px 0;
  @include font(16px, 19px, 400);

  &__title {
    @include font(20px, 25px, 600);
  }
}