.login-modal {
	&__content {
	padding: 0px 70px 0;
	text-align: center;
	margin-bottom: -20px;
	}

	&__text {
	font-size: 22px;
	line-height: 27px;
	margin-top: 15px;
	}

	&__checkbox {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    height: 17px;

		& > p {
		margin-left: 10px;
    	font-size: 14px;
		color: #D2D2D2;
			a {
				text-decoration: underline;
				cursor: pointer;
				&:hover {
				color: $link-hover;
				}
			}
		}
	}

	&__footer {
		margin-top: 30px;

		p {
		font-weight: 900;
    	font-size: 16px;
    	line-height: 20px;
    	text-transform: uppercase;
		margin-right: 10px;
		}

		.headerSteam:disabled {
			fill:#880c27;
		}
	}
}