.prizes-block {
    display: flex;
    overflow: hidden;
    box-shadow: -50px 0px 21px -21px rgba(36, 35, 42, 1) inset;
    position: relative;

    &__item {
    position: relative;
    display: flex;
    // z-index: -1;
    flex-direction: column;
    min-width: "111px";
    max-height: '86px';
    }

    &__img {
    box-sizing: border-box;
    width: 88px;
    height: 65px;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 11px;
    }

&__title {
    position: absolute;
    box-sizing: border-box;
    width: 88%;
    z-index: 2;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: unset;
    top: 57px;
    left: 7px;
}
}

.tooltip {
    &.MuiTooltip-tooltip {
        background-color:red !important;
}
}

.sort-block {
    display: flex;
    flex-direction: column;
    margin-right: 1px;
}

.win-panel {
    display: flex;
    z-index: 1;
    position: relative;
}


.Common {
    background: linear-gradient(360deg, #3b4555 21.51%, rgba(32, 45, 99, 0) 100%);
    border-bottom: 1px solid #98b3d6;
}

.Uncommon {
    background: linear-gradient(360deg, #2A374A 21.51%, rgba(32, 45, 99, 0) 100%);
    border-bottom: 1px solid #6A98D4;
}

.Milspec {
    background: linear-gradient(360deg, #202D63 21.51%, rgba(32, 45, 99, 0) 100%);
    border-bottom: 1px solid #4F6CF6;
}

.Restricted {
    background: linear-gradient(360deg, #312456 21.51%, rgba(76, 37, 38, 0) 100%);
    border-bottom: 1px solid #7E51F6;
}

.Covert {
    background: linear-gradient(360deg, #4C2526 21.51%, rgba(76, 37, 38, 0) 100%);
    border-bottom: 1px solid #DA5752;
}