.prizes-block {
    display: flex;
    overflow: hidden;
    box-shadow: -50px 0px 21px -21px rgba(36, 35, 42, 1) inset;
    position: relative;
    gap: 0.1rem;

    &__item {
    position: relative;
    display: flex;
    // z-index: -1;
    //flex-direction: column;
    width: 115px;
    height: 86px;

        &:hover{
            .prize-wrap {
                transition: 0.3s ease-in-out 40ms;
                backdrop-filter: brightness(50%);
                filter: blur(2px);
            }
            .tooltip {
            transition: 0.3s ease-in-out 40ms;
            opacity: 1;
            //display: block;
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            z-index: 5;
            background-color: inherit;

            &-inner {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: inherit;
            }

            &__img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            &__username {
                font-weight: 500;
                font-size: 12px;
                color: $text-white;
                margin-top: 2px;
            }

            &__case {
                font-weight: 600;
                font-size: 14px;
                color: #d9c5c5;
                text-shadow: 0px 0px 4px #1b0202;
            }

            }
        }
    }


    &__img {
    box-sizing: border-box;
    width: 91px;
    //height: 65px;
    margin: 0px 12px 0;
    }

    &__type, &__title {
        position: absolute;
        font-weight: 500;
        font-size: 13px;
        width: 100%;
        left: 13px;
    }

    &__type {
    color: $text-prize-type;
    bottom: 19px;
    font-weight: 600;
    }

    &__title {
    z-index: 2;
    bottom:4px;
    }
}

.tooltip {
    opacity: 0;
}


.sort-block {
    display: flex;
    flex-direction: column;
    margin-right: 1px;
}

.win-panel {
    display: flex;
    z-index: 1;
    position: relative;
}


.Consumer {
    background: linear-gradient(0deg, #75808D 32%, rgba(117, 128, 141, 0) 100%);
    border-bottom: 1px solid #B3C3D7;
    // &:hover {
    //     background-color: rgb(91 118 134 / 92%);
    // }
}

.Industrial {
    background: linear-gradient(0deg, #46648B 32%, rgba(70, 100, 139, 0) 100%);
    border-bottom: 1px solid #6A98D4;
    // &:hover {
    //     background-color: rgba(51, 93, 117, 0.905);
    // }
}

.Mil-Spec {
    background: linear-gradient(0deg, #3447A1 32%, rgba(52, 71, 161, 0) 100%);
    border-bottom: 1px solid #4F6CF6;
    // &:hover{
    //     background-color: #5d7eaae4;
    // }
}

.Restricted {
    background: linear-gradient(0deg, #5335A1 32%, rgba(83, 53, 161, 0) 100%);
    border-bottom: 1px solid #7E51F6;
    // &:hover{
    //     background-color: #431ea9e9;
    // }
}

.Classified {
    background: linear-gradient(0deg, #7F2C92 32%, rgba(127, 44, 146, 0) 100%);
    border-bottom: 1px solid #C243DE;
    // &:hover{
    //     background-color: #7F2C92;
    // }
}

.Covert {
    background: linear-gradient(0deg, #8F3936 32%, rgba(143, 57, 54, 0) 100%);
    border-bottom: 1px solid #DA5752;
    // :hover {
    //     background-color: #be4e4eeb;
    // }
}

.Contraband {
    background: linear-gradient(0deg, #A07436 32%, rgba(160, 116, 54, 0) 100%);
    border-bottom: 1px solid #F4B152;
    // :hover {
    //     background-color: #A07436;
    // }
}
