.item {
    min-width: 205px;
    height: 304px;
    box-sizing: border-box;
    
    &__img {
        margin-top: 64px;
        margin-left: 15px;
        width: 184px;
        object-fit: cover;
    }
}