.admin-cases {

  &__title {
    @include font( 24px, 29px, 500);
  }

  &__divider.MuiDivider-root {
    background-color: #BDBDBD;
    margin: 10px 0 20px 0;
  }

  &__search-form {
    @include flex(center, center);
    gap: 5px;
  }

  &__create-button {
    width: 255px;
    height: 169px;
    border-radius: 10px;
    border: 2px dashed $brand-color;
    cursor: pointer;
    @include flex(center, center);
    flex-direction: column;
    @include font(14px, 17px, 500);
    gap: 10px;
    color: $brand-color;
  }

  &__cases-container {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0 0 0; 
  }

  .admin-case {

    background-color: $background-main-lighter;
    border-radius: 10px;
    width: 255px;
    height: 169px;
    cursor: pointer;
    @include flex(flex-start, center);
    flex-direction: column;
    padding: 15px;
    border: 1px solid #3E3C43;
    @include font(14px, 17px, 400);
   
    &__image {
      margin-top: -11px;
    }
  }

}