.case-header-form {
  padding: 0 25px;
  @include flex(flex-start, center);
  gap: 30px;
  flex-wrap: wrap;


  &__form {
    width: 325px;
    @include flex(center, flex-start);
    gap: 5px;
    flex-direction: column;
    @include font(18px, 22px, 500);
  }
}