html {
  font-family: 'Gilroy', sans-serif;
  color: $text-white;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  color: $text-white;
  margin: 0 auto;
  background-color: $background-main;
}