.headerSteam, .close-icon, .cases, .users, setting {
	fill: white;
}

.exit {
    fill: $brand-color;
}

.clip {
	size: 24px;
}

.support, .promocode, .money, .logs {
	fill: white;
	stroke: white;
	// font-weight: bold;
	// &:hover, &:active {
	// fill: $brand-color;
	// }
}