.headerSteam, .close-icon, .cases, .users, .setting, .support, .promocode, .money, .logs {
	fill: white;
}

.exit {
    fill: $brand-color;
}

.clip {
	size: 24px;
}

.support, .promocode, .money, .logs {
	stroke: white;
}