$background-main: #24232A;
$background-main-lighter: #2D2B34;
$background-header-light: #38363F;
$background-header-dark: #2D2B34;
$background-footer-light: #1E1D23;
$background-footer-dark: #19181E;
$text-white: #fff;
$brand-color: #B81034;
$main-width: 1100px;
$background-modal: #2D2B34;
$link-hover: #D2002D;